html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

  background: lightpink;
}

.item {
  width: 100px;
  height: 100px;
  background: lightblue;
  display: grid;
  place-items: center;
}
